* {
  color: hotpink;
}
/* this is a universal selector  */

#my-heading {
  color: black;
}

.my-class {
  color: rgb(144, 49, 234);
}

p,
h3 {
  color: yellow;
}
h1 {
  color: limegreen;
}

p > strong {
  color: black;
}

p {
  color: magenta;
  border: 1px solid red;
  padding: 30px;
  background-color: rgba(255, 238, 232, 0.819);
}
article {
  text-align: center;
  border: 1px dashed lime;
  padding: 10px;
  background-color: aqua;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

/* .padding-style { 
  padding: 10px;
  border: solid red;
} */
